
.header {
    background-color: #091D3B;
    position: relative;
    overflow: hidden;
    height: 521px;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 850px){
    .header::after {
        content: "";
        width: 578px;
        height: 1800px;
        position: absolute;
        top: -779px;
        right: 0;
        background-color: #2269EF;
        transform: rotate(32deg);
    }
}


.header_content {
    position: relative;
    color: #FFF;
    z-index: 1000;

}

.header_content_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_content_text{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
}

.header_content_title {
    max-width: 486px;
    margin-bottom: 27px;
    color: #fff;
}



.latest{
    background: #F3F7FE;
    margin: 100px 0;
    padding: 60px 15px;
    display: flex;
    justify-content: center;
}

.latest_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnHeaderCatalog, .btnHeaderCall{
    width: 100%;
}



@media screen  and (min-width: 500px){
    .btnHeaderCatalog{
        display: none!important;
    }
    .width{
        width: fit-content !important;
    }
}
@media screen  and (max-width: 500px){
    .header_content_text{
        margin: 0 auto;
    }
    .header_content_title{
        display: none;
    }
}
